<div class="title">
    <h3>Article info</h3>
</div>

<div class="show-user">
    <div class="user-card">
        <div class="card-user-img">
            <img src="../assets/img/apple.png" alt="">
        </div>
        <div class="card-user-info">
            <h2>TopCase</h2>
            <p><span>Refe : </span> 661-5858</p>
            <p><span>Catégorie : </span>MacBook Pro</p>
            <p><span>Date d'ajout : </span>09-09-2024</p>
            <p><span>Prix : </span> 200d ht </p>
            <p><span>Qantité : </span> 2 </p>
        </div>
        <div class="card-button">
            <button>Retour</button>
        </div>
    </div>
</div>