<div class="title">
    <h3>Produit info</h3>
</div>

<div class="show-user">
    <div class="user-card">
        <div class="card-user-img">
            <img src="../assets/img/apple.png" alt="">
        </div>
        <div class="card-user-info">
            <h2>{{produit.name}}</h2>
            <p><span>Client : </span> {{produit.clientId}}</p>
            <p><span>Category : </span> {{produit.cat}}</p>
            <p><span>SN : </span> {{produit.sn}}</p>
            <p><span>Date d'ajout : </span> {{produit.date_ajout}}</p>
            <p><span>Mot de passe : </span> {{produit.pwd}}</p>
            <p><span>Etat du produit : </span> {{produit.niveau}}</p>
            <p><span>Accessoire : </span> {{produit.accessoire}}</p>
            <p><span>Nature panne : </span> {{produit.panne}}</p>
            <p><span>Diagnostic : </span> {{produit.diag}}<br>
            </p>
        </div>
        <div class="card-button">
            <button>Retour</button>
        </div>
    </div>
</div>