<div class="title">
    <h3>Produit info</h3>
</div>

<div class="show-user">
    <div class="user-card">
        <div class="card-user-img">
            <img src="../assets/img/apple.png" alt="">
        </div>
        <div class="card-user-info">
            <h2>iMac 27"</h2>
            <p><span>Category : </span> iMac</p>
            <p><span>SN : </span> FVF9988776</p>
            <p><span>Date d'ajout : </span>09-09-2024</p>
            <p><span>Mot de passe : </span> 0000 </p>
            <p><span>Etat du produit : </span>neuf</p>
            <p><span>Accessoire : </span>clavier , souris</p>
            <p><span>Nature panne : </span>Topcase</p>
            <p><span>Diagnostic : </span> bp topcase devis <br>
            topcase ref : 661-455667 , prix : 33333d ht  <br>
            mo : 200d ht 
            </p>
        </div>
        <div class="card-button">
            <button>Retour</button>
        </div>
    </div>
</div>