<div class="card-product">
    <div class="prod-dash">
      <h3>List des utilisateurs</h3>
      <button (click)="ajouter_user()"><i class="fa-solid fa-plus"></i></button>
    </div>
    <div class="table-dash">
      <table datatable  class="row-border">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom Prénom</th>
            <th>Profil</th>
            <th>Login</th>
            <th>Mot de passe</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>john doe</td>
            <td>Admin</td>
            <td>john</td>
            <td>0000</td>
            <td>
              <button class="delete"><i class="fa-solid fa-trash"></i><span class="tooltip">Supprimer</span></button>
              <button class="show" (click)="afficher_user()"><i class="fa-solid fa-eye"></i><span class="tooltip">Afficher</span></button>
              <button class="edit"><i class="fa-solid fa-user-pen"></i><span class="tooltip">Modifier</span></button>
              <button class="print"><i class="fa-solid fa-print"></i><span class="tooltip">Imprimer</span></button>
            </td>
          </tr>
         
        </tbody>
      </table>  
    
    </div>
    </div>
    
    
    
    
    