<div class="card-product">
    <div class="prod-dash">
      <h3>List des clients</h3>
      <button (click)="btn_ajouter_client()" ><i class="fa-solid fa-plus"></i></button>
    </div>
    <div class="table-dash">
      <table datatable  [dtTrigger]="dtTrigger" [dtOptions]="dtOption" class="row-border">
        <thead>
          <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Fullname</th>
            <th>Identifiant</th>
            <th>Email</th>
            <th>Tele</th>
            <td>Date Ajout</td>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{client.id_client}}</td>
            <td>{{client.type}}</td>
            <td>{{client.fullname}}</td>
            <td>{{client.identifiant}}</td>
            <td>{{client.email}}</td>
            <td>{{client.tel}}</td>
            <td>{{client.date_ajout | date: 'dd-MM-YYYY' }}</td>
            <td>
              <button class="delete" (click)="deleteClient(client)"><i class="fa-solid fa-trash"></i><span class="tooltip">Supprimer</span></button>
              <button class="show" (click)="btn_afficher_client(client.id_client)"><i class="fa-solid fa-eye"></i><span class="tooltip">Afficher</span></button>
              <button class="edit" (click)="btn_edit_client(client.id_client)"><i class="fa-solid fa-user-pen"></i><span class="tooltip">Modifier</span></button>
            </td>
          </tr>
          
        </tbody>
      </table>  
    
    </div>
    </div>
    
    
    
    
    