<div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
        <li class="active" routerLink="dashboard"><a><i class="fa-solid fa-gauge"></i><span>Dashboard</span></a></li>
        <li routerLink="user/list-user"><a><i class="fa-solid fa-user"></i><span>Utilisateur</span></a></li>
        <li routerLink="client/list-client"><a><i class="fa-solid fa-users"></i><span>Client</span></a></li>
        <li routerLink="produit/list-produit"><a><i class="fa-solid fa-boxes-stacked"></i><span>Produit</span></a></li>
        <li routerLink="stock/list-article"><a><i class="fa-sharp fa-solid fa-layer-group"></i><span>Stock</span></a></li>
        <li routerLink="etat"><a><i class="fa-solid fa-table"></i><span>Etat</span></a></li>
        <li routerLink="reglage"><a><i class="fa-solid fa-gear"></i><span>Outils</span></a></li>
        <!-- <li class="logout"><a><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a></li> -->
    </ul>
</div>

