<div class="etat-card">
    <h3>Finance data</h3>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>MO</th>
                    <th>Piéce</th>
                    <th>Categorie</th>
                    <th>Total prix</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2024</td>
                    <td>SAV</td>
                    <td>Top case</td>
                    <td>MacBook</td>
                    <td>2000</td>
                    <td><button>Edit</button></td>
                </tr>
                <tr>
                    <td>2024</td>
                    <td>SAV</td>
                    <td>Top case</td>
                    <td>MacBook</td>
                    <td>2000</td>
                    <td><button>Edit</button></td>
                </tr>
                <tr>
                    <td>2024</td>
                    <td>SAV</td>
                    <td>Top case</td>
                    <td>MacBook</td>
                    <td>2000</td>
                    <td><button>Edit</button></td>
                </tr>
                <tr>
                    <td>2024</td>
                    <td>SAV</td>
                    <td>Top case</td>
                    <td>MacBook</td>
                    <td>2000</td>
                    <td><button>Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>