/* You can add global styles to this file, and also import other style files */


*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none ;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}



:root {
    --grey : #F1F0F6;
    --dark-grey:#8D8D8D;
    --ligth:#fff;
    --green :#81D43A ;
    --ligth-green:#E3FFCB;
    --blue : #1775f1;
    --ligth-blue:#D0E4FF;
    --dark-blue : #0C5FCD;
    --red : #FC3B56; 
    --ligth-yellow : #FBFB94 ;
}

body{
    display: flex;
    background: var(--grey);
}


