<div class="title">
    <h3>Utilisateur info</h3>
</div>
<div class="show-user">
    <div class="user-card">
        <div class="card-user-img">
            <img src="../assets/img/man.png" alt="">
        </div>
        <div class="card-user-info">
            <h2>John Doe</h2>
            <p><span>Profile : </span> Admin</p>
            <p><span>Login : </span> John</p>
            <p><span>Mot de passe : </span> 0000 </p>
        </div>
        <div class="card-button">
            <button routerLink="/home/user/list-user">Retour</button>
        </div>
    </div>
    
</div>