<div class="title">
    <h3>Client info</h3>
</div>
<div class="show-user">
    <div class="user-card">
        <div class="card-user-img">
            <img src="../assets/img/boy.png" alt="">
        </div>
        <div class="card-user-info">
            <h2>{{client.fullname}}</h2>
            <p><span>Type : </span> {{client.type}}</p>
            <p><span>Identifiant : </span> {{client.identifiant}}</p>
            <p><span>Email : </span> {{client.email}}</p>
            <p><span>Téléphone : </span> {{client.tel}} </p>
            <p><span>Date d'ajout : </span> {{client.date_ajout | date:'d-M-YY'}}</p>
        </div>
        <div class="card-button">
            <button (click)="btn_retour()">Retour</button>
        </div>
    </div>
</div>