<div class="title">
    <h3>Client info</h3>
</div>
<div class="show-user">
    <div class="user-card">
        <div class="card-user-img">
            <img src="../assets/img/boy.png" alt="">
        </div>
        <div class="card-user-info">
            <h2>iSpace</h2>
            <p><span>Type : </span> Particulier</p>
            <p><span>Matricule fiscale : </span>MDF0028DM</p>
            <p><span>Email : </span> John__yahoo.fr</p>
            <p><span>Téléphone : </span> 7100110011 </p>
        </div>
        <div class="card-button">
            <button>Retour</button>
        </div>
    </div>
</div>